* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90.5vh;
  background-color: #eee;
}

.display-container {
  width: fit-content;
}

#display {
  width: 300px;
  height: 90px;
  border: solid 1px black;
  background-color: #cee3e4;
  text-align: end;
  margin: 10px 10px;
  box-shadow: inset 1px 1px 2px 2px #a1bbbd;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  flex-direction: column;
  justify-content: end;
  display: flex;
}

.main-container {
  background-color: #f7f61a;
  width: fit-content;
  height: fit-content;
  padding: 15px 15px;
  border-radius: 12px;
  border: solid #a8a815 5px;
  box-shadow: 3px 3px 2px rgb(151, 149, 149);
}

.container {
  display: flex;
}

.group-1,
.group-2,
.group-3,
.group-4,
.group-5 {
  display: flex;
}

.numpad button {
  background: none;
  height: 50px;
  width: 60px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.1s;
  padding: 0;
  margin: 10px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px #bebd07;
  background-color: #eeee34;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.numpad .zero {
  width: 140px;
}

/* .group-5 .equal {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 108px;
} */

.clearContainer .clear {
  width: 60px;
  background: none;
  height: 50px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.1s;
  padding: 0;
  background-color: #ef087d;
  margin: 10px 10px;
  box-shadow: 2px 2px 1px #bebd07;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #08ef7a;
}

.clearContainer button:hover {
  background-color: #be0663;
}

.clearContainer button:active {
  background-color: #a50556;
}

.numpad button:hover {
  background-color: #e7e713;
}

.numpad button:active {
  background-color: #d3d33a;
}

.operators {
  display: flex;
  flex-direction: column;
}

.operators button {
  background: none;
  height: 50px;
  width: 60px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.1s;
  padding: 0;
  margin: 10px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 2px 2px 1px #97972e;
  background-color: #eeee34;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.operators button:hover {
  background-color: #e7e713;
}

.operators button:active {
  background-color: #d3d33a;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33332d;
  color: #fff;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  gap: 10px;
  padding: 15px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
}

a:hover {
  color: #797975;
}
